.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active {
  text-decoration: none;
}

.spacer {
  flex: 1 0 0;
}

.mat-icon {
  position: relative;
  top: 6px;
  margin-right: 6px;
}

a.mat-list-item ::ng-deep {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: 6px !important;
}

a span {
  position: relative;
  top: -4px;
}
