<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/layout/elements"
        color="accent"
        routerLinkActive="active"
        ><mat-icon class="my-1">science</mat-icon
        ><span class="my-1">Elements</span></a
      >
      <a
        mat-list-item
        color="accent"
        routerLink="/layout/folders"
        routerLinkActive="active"
        ><mat-icon class="my-1">folder</mat-icon
        ><span class="my-1">Folders</span></a
      >
      <a
        mat-list-item
        color="accent"
        routerLink="/layout/dashboard"
        routerLinkActive="active"
        ><mat-icon class="my-1">dashboard</mat-icon
        ><span class="my-1">Dashboard</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="content" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="flex flex-row justify-between w-100">
        <div class="text-1xl font-bold">Angular & Storybook Portfolio</div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
