<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar><svg width="200" height="100" xmlns="http://www.w3.org/2000/svg">
      <!-- Define the lighting filter for the 3D effect -->
      <defs>
        <filter id="f1" x="0" y="0" width="150%" height="150%">
          <feOffset result="offOut" in="SourceAlpha" dx="5" dy="5" />
          <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
      </defs>

      <!-- Create the letter "R" with the 3D effect -->
      <text x="20" y="50" font-family="Arial" font-size="40" fill="blue">
        <tspan x="20" dy="0" filter="url(#f1)">R</tspan>
      </text>

      <!-- Create the letter "F" with the 3D effect -->
      <text x="80" y="50" font-family="Arial" font-size="40" fill="red">
        <tspan x="80" dy="0" filter="url(#f1)">F</tspan>
      </text>

      <!-- Create the letter "S" with the 3D effect -->
      <text x="140" y="50" font-family="Arial" font-size="40" fill="green">
        <tspan x="140" dy="0" filter="url(#f1)">S</tspan>
      </text>
    </svg>
     &nbsp;Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/layout/elements"
        color="primary"
        routerLinkActive="active"
        class="inline-flex items-baseline"
        ><mat-icon>science_outline</mat-icon><span>Elements</span></a
      >
      <a
        mat-list-item
        color="primary"
        routerLink="/layout/folders"
        routerLinkActive="active"
        ><mat-icon class="my-1">folder</mat-icon><span>Folders</span></a
      >
      <a
        mat-list-item
        color="primary"
        routerLink="/layout/dashboard"
        routerLinkActive="active"
        ><mat-icon>dashboard</mat-icon><span>Dashboard</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="content" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="flex flex-row justify-between w-100">
        <div class="text-1xl font-bold">Angular & Storybook Portfolio</div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
